In [1]:
print("hello")

hello

In [2]:
x = print

x("hello")

hello

In [3]:
x

# 1. Map

In [6]:
o_lista = [23, 34, 42, 321, 321, 312, 553, 2123, 335]


def scadere(x):
    return x / 2


list(map(scadere, o_lista))

[11.5, 17.0, 21.0, 160.5, 160.5, 156.0, 276.5, 1061.5, 167.5]

In [7]:
o_lista = [23, 34, 42, 321, 321, 312, 553, 2123, 335]


[ i / 2 for i in o_lista ]

[11.5, 17.0, 21.0, 160.5, 160.5, 156.0, 276.5, 1061.5, 167.5]

# 2. Filter

In [8]:
o_lista = [23, 34, 42, 321, 321, 312, 553, 2123, 335]

def mai_mic_ca_100(x):
    return x  < 100


list(filter(mai_mic_ca_100, o_lista))

[23, 34, 42]

In [10]:
o_lista = [23, 34, 42, 321, 321, 312, 553, 2123, 335]

list(filter(lambda x : x < 100 , o_lista))

[23, 34, 42]

In [9]:
o_lista = [23, 34, 42, 321, 321, 312, 553, 2123, 335]

[ i for i in o_lista if i < 100 ]

[23, 34, 42]

# 3. Reduce

In [16]:
from functools import reduce

o_lista = [23, 34, 42, 321, 321, 312, 553, 2123, 335]


def cel_mai_mare(x, y):
    return x if x < y else y


reduce(cel_mai_mare, o_lista)

23

In [13]:
cel_mai_mare(10, 20)

20

In [17]:
o_lista = [23, 34, 42, 321, 321, 312, 553, 2123, 335]
reduce(lambda x, y: x if x < y else y, o_lista)

23