In [1]:
import pandas as pd

In [ ]:
pd.read_csv("https://raw.githubusercontent.com/sojog/Machine-Learning-Tensorflow-ADR-2-5-februarie-2026/refs/heads/main/Ziua2/date_inghetata.csv")

     temperatura  vanzari      luna zi_saptamana
0              8       25  ianuarie         luni
1             10       35  ianuarie        marti
2             12       45  ianuarie     miercuri
3             15       55  ianuarie          joi
4             18       75  ianuarie       vineri
..           ...      ...       ...          ...
233           33      168       mai     miercuri
234           35      182       mai          joi
235           37      195       mai       vineri
236           39      208       mai      sambata
237           41      222       mai    duminica

[238 rows x 4 columns]